.table {
    border: 2px solid;
    border-color: #70707090;
    position: absolute;
    top: -80px;
    right: 385px;
    margin-top: 15px;
    transform: rotate(90deg);
    width: 30%;
  }  
  
  
  .tableCell {
    border-top: 2px solid;
    border-color: #70707090;
    padding: 4px 6px;
    height: 70px;
    width: 37px;
  }
  
  .tableCellGap {
    border-top: 2px solid;
    border-color: #70707090;
    padding: 4px 6px;
    height: 66px;
    width: 37px;
    margin-right: 55px;
    margin-left: 55px;
  }
  
  .entranceCell {
    border-top: 2px solid;
    border-color: transparent;
    padding: 4px 6px;
    height: 66px;
    width: 39px;
    margin-right: 55px;
    margin-left: 55px;
  }
  
  .cellText {
    text-align: center;
  }
  
  .available {
    border-radius: 10px;
    background-color: #E0E5F6;
    height: 62px;
    width: 26px;
    justify-content: center;
  }
  
  .reserved {
    border-radius: 10px;
    background-color: #707070;
    height: 62px;
    width: 26px;
    justify-content: center;
  }
  
  .reservedTitle {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
  
  .availableTitle {
    color: #9A9FB0;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
  }
  