.flex1 {
    min-height: 100%;
    height: 100vh;
}

.parkingPic {
    height: 100vh;
    width: 55%;
    object-fit: cover;
}

.loginContainer {
    overflow: hidden;
    height: 100vh;
    width: 100vw; 
}